<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>FinGest - Sistema de Gestão Financeira</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/Logo.png') }}" type="image/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.2/main.min.css">
</head>
<body>
    <div class="header">
        <h1>
            <img src="/static/img/Logo.png" alt="Logo" height="51" />
            <strong>FinGest</strong>
        </h1>
        <div class="navigation">
            <a href="{{ url_for('main.dashboard') }}" class="nav-link">Dashboard</a>
            <a href="{{ url_for('main.calendar') }}" class="nav-link">Calendário</a>
            <a href="{{ url_for('main.transaction_history') }}" class="nav-link">Transações</a>
            <a href="{{ url_for('main.transaction_management') }}" class="nav-link">Tipos de Transações</a>
            <a href="{{ url_for('main.config') }}" class="nav-link">Configurações</a>
            <a href="{{ url_for('main.logout') }}" class="nav-link">Sair</a>
        </div>
    </div>
    
    <div class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="flash {{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    {% block content %}{% endblock %}
    <footer class="login-footer">
        <p>&copy; 2025 FinGest - Sistema de Gestão Financeira Pessoal</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.2/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.2/locales/pt-br.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
