{% extends "base.html" %}

{% block content %}

<head>
    <!-- Script para o Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Script para renderizar os dados no HTML -->
    <script>
        // Renderizando os dados no script embutido no HTML
        var labels = JSON.parse('{{ labels_json|safe }}');
        var data = JSON.parse('{{ data_json|safe }}');
    </script>
</head>

<div class="container">
    <!-- Seção para exibir o valor geral da carteira -->
    <div class="section">
        <h2>Valor Geral da Carteira</h2>
        <p><strong>Receita Total:</strong> R$ {{ total_revenue }}</p>
        <p><strong>Total de Despesas:</strong> R$ {{ total_expense }}</p>
    </div>
    
    <!-- Seção para exibir o gráfico de despesas e receitas -->
    <div class="chart">
        <canvas id="expenseRevenueChart" width="200" height="100"></canvas>
    </div>

    <!-- Seção para cadastrar despesas -->
    <div class="section">
        <h2>Cadastro de Despesas</h2>
        <form action="{{ url_for('main.add_expense') }}" method="post">
            <label for="amount">Valor:</label>
            <input type="number" step="0.01" id="amount" name="amount" required>
            <label for="description">Descrição:</label>
            <input type="text" id="description" name="description" required>
            <label for="transaction_type_id">Tipo de Despesa:</label>
            <select id="transaction_type_id" name="expense.transaction_type_id" required>
                {% for type in expense_types %}
                    <option value="{{ type.id }}">{{ type.type_name }}</option>
                {% endfor %}
            </select>
            <label for="account_id">Conta:</label>
            <select id="account_id" name="account_id" required>
                {% for account in accounts %}
                    <option value="{{ account.id }}">{{ account.account_name }}</option>
                {% endfor %}
            </select>
            <label for="date">Data:</label>
            <input type="date" id="date" name="date" required>
            <label for="currency">Moeda:</label>
            <select id="currency" name="currency" required>
                <option value="BRL">BRL</option>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
            </select>
            <button type="submit">Adicionar Despesa</button>
        </form>
    </div>

    <!-- Seção para cadastrar receitas -->
    <div class="section">
        <h2>Cadastro de Receitas</h2>
        <form action="{{ url_for('main.add_revenue') }}" method="post">
            <label for="amount">Valor:</label>
            <input type="number" step="0.01" id="amount" name="amount" required>
            <label for="description">Descrição:</label>
            <input type="text" id="description" name="description" required>
            <label for="transaction_type_id">Tipo de Receita:</label>
            <select id="transaction_type_id" name="revenue.transaction_type_id" required>
                {% for type in revenue_types %}
                    <option value="{{ type.id }}">{{ type.type_name }}</option>
                {% endfor %}
            </select>
            <label for="account_id">Conta:</label>
            <select id="account_id" name="account_id" required>
                {% for account in accounts %}
                    <option value="{{ account.id }}">{{ account.account_name }}</option>
                {% endfor %}
            </select>
            <label for="date">Data:</label>
            <input type="date" id="revenue_date" name="date" required>
            <label for="currency">Moeda:</label>
            <select id="currency" name="currency" required>
                <option value="BRL">BRL</option>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
            </select>
            <button type="submit">Adicionar Receita</button>
        </form>
    </div>
</div>

<!-- Script para o Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
