{% extends "base.html" %}

{% block content %}

<div class="container">
    <!-- Histórico de Despesas -->
    <div class="section">
        <h2>Histórico de Despesas</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Tipo</th>
                <th>Conta</th>
                <th>Data</th>
                <th>Ações</th>
            </tr>
            {% for expense_data in expenses %}
            <tr>
                <td>{{ expense_data.expense.id }}</td>
                <td>{{ expense_data.expense.description }}</td>
                <td>{{ expense_data.expense.amount }}</td>
                <td>{{ expense_data.transaction_type.type_name }}</td>
                <td>{{ expense_data.account.account_name }}</td>
                <td>{{ expense_data.expense.expense_date.strftime('%d/%m/%Y') }}</td>
                <td>
                    <a href="{{ url_for('main.delete_expense', id=expense_data.expense.id) }}">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- Histórico de Receitas -->
    <div class="section">
        <h2>Histórico de Receitas</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Tipo</th>
                <th>Conta</th>
                <th>Data</th>
                <th>Ações</th>
            </tr>
            {% for revenue_data in revenues %}
            <tr>
                <td>{{ revenue_data.revenue.id }}</td>
                <td>{{ revenue_data.revenue.description }}</td>
                <td>{{ revenue_data.revenue.amount }}</td>
                <td>{{ revenue_data.transaction_type.type_name }}</td>
                <td>{{ revenue_data.account.account_name }}</td>
                <td>{{ revenue_data.revenue.revenue_date.strftime('%d/%m/%Y') }}</td>
                <td>
                    <a href="{{ url_for('main.delete_revenue', id=revenue_data.revenue.id) }}">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
